*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
  
}
.head img{
    width: 40px;
    background-color: rgb(8, 137, 250);
    padding: 5px;
    border-radius: 5px;
}
.head{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.head h1{
    color:  rgb(8, 137, 250);
    font-size: 31px;
}
.contant p{
    color: gray;
}
.contant{
    text-align: center;
}
.all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
     width: 85%;
    margin: 5%;
    height: 90vh;
    padding: 40px;
    border-radius: 20px;
}
.photo img{
    width: 400px;
    border-radius:10px ;
}
form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 450px;
    height: 70vh;
    border-radius: 20px;
}
input{
    padding: 7px;
    border-radius: 5px;
    border:solid 1px gray;
    margin-bottom: 5px;
}
.done{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
a{
    text-decoration: none;
    color: rgb(8, 137, 250);
}
button{
    width: 100%;
    background-color: rgb(8, 137, 250);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    transition: ease-in .4s;
    cursor: pointer;
}
button:hover{
    background-color: rgb(12, 108, 192);
}
