*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;

}
.head img{
    width: 40px;
    background-color: rgb(8, 137, 250);
    padding: 5px;
    border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border:solid .5px rgb(209, 207, 207);
    padding: 10px;
    border-radius: 10px;
}
form .title{
    text-align: center;
    margin-bottom: 30px;
}
.name{
   display: grid;
   grid-template-columns: repeat(2,auto);
}
.check{
    display: flex;
    align-items: center;
}
p{
    color: rgb(59, 58, 58);
    font-size: 14px;
}
.two{
    display: flex;
    
    justify-content: space-between;
    margin: 5%;
}
.person img{
    width: 70px;
    border-radius: 100%;
}
input{
    padding: 8px;
    border-radius: 8px;
    border:solid 1px gray;
    margin: 5px;
}
a{
    color: rgb(8, 137, 250) ;
    text-decoration: none;
}
button{
    color: white;
    background-color:  rgb(8, 137, 250);
    padding: 8px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all .4s;
}
button:hover{
    background-color:  rgb(11, 83, 146);
    transform: translateY(-3px);
}
.person{
    text-align: center;
    margin-bottom: 40px;
     border:solid .5px rgb(233, 229, 229);
    padding: 10px;
    border-radius: 10px;
    height: 50vh;
}
.person h4{
    color: rgb(8, 137, 250);
}